In [ ]:
#Import functions to use for this analysis
import pandas as pd
import numpy as np
import time
import datetime as dt

In [ ]:
#Import csv
df_load = pd.read_csv('~/Documents/swimdata.csv')

In [ ]:
#Look at first rows of dataframe similar to R head() function 
df_load[0:6]

In [ ]:
#Look at last rows not inclusive of index
df_load[-4:-1]

In [ ]:
#Generate new dataframe with only relevant columns
df = df_load[['Place','Name','Category','Gender','Time']].iloc[0:275]

In [6]:
#Count time but also get median and standard deviation
participant_count = df.groupby(['Category']).count()['Time']

In [7]:
#Using logical operator on DNS, get percent of people by category that finished race
finish_percent = df[df.Time <> 'DNS'].groupby(['Category']).count()['Time']/df.groupby(['Category']).count()['Time']

In [8]:
cat_summary = pd.concat([finish_percent,participant_count],axis=1)
cat_summary.columns = ['Finish Rate','Participant Count'] #Add median and standard deviation of time
cat_summary

          Finish Rate  Participant Count
Category
F1112        1.000000                  1
F1314        1.000000                 14
F1517        1.000000                  9
F1824        1.000000                 15
F2529        0.923077                 13
F3034        1.000000                 11
F3539        1.000000                  4
F4044        0.900000                 10
F4549        0.857143                  7
F5054        0.875000                  8
F5559        0.666667                 12
F6064        1.000000                  3
M1112        1.000000                  7
M1314        1.000000                  4
M1517        1.000000                 10
M1824        1.000000                 11
M2529        0.933333                 15
M3034        1.000000                  6
M3539        0.750000                  8
M4044        0.800000                 10
M4549        1.000000                 22
M5054        0.869565                 23
M5559        0.920000                 25
M6064        1.000000                 15
M6569        1.000000                  6
M7074        1.000000                  4
M8084        1.000000                  1
MUnknown     1.000000                  1

In [9]:
#Turn time from timestamp format into array form to get total seconds
df['TimeArray'] = df['Time'].str.split(':',1)

In [37]:
#Turn array into seconds
minutes_list = [item[0] for item in df['TimeArray']]
seconds_list = [item[-1] for item in df['TimeArray']]

df['minutelist'] = pd.Series(minutes_list, index=df.index)
df['secondslist'] = pd.Series(seconds_list, index=df.index)

#Bad option:
#np.where(df['Time'] <> 'DNS', 60*int(df['minutelist'])+int(df['secondslist']), 'DNS')

df['time_seconds'] = pd.to_numeric(df['minutelist'], errors='coerce')*60 + pd.to_numeric(df['secondslist'], errors='coerce')

In [39]:
#Look at median and variance of times
#time_detail = df[df.Time <> 'DNS'].groupby(['Category']).agg({'mean':np.median('time_seconds'),'SD':np.sd('time_seconds')})

,Place,Name,Category,Gender,Time,TimeArray,minutelist,secondslist,time_seconds
0,1,Jude Williams,M1517,Male,19:15.7,"[19, 15.7]",19,15.7,1155.7
1,2,Steve Allnutt,M2529,Male,19:42.6,"[19, 42.6]",19,42.6,1182.6
2,3,Sandoval Martha,F1824,Female,20:02.3,"[20, 02.3]",20,02.3,1202.3
3,4,Daniel Escalante,M1517,Male,20:29.3,"[20, 29.3]",20,29.3,1229.3
4,5,CLAUDIA MACIAS,F1517,Female,20:29.4,"[20, 29.4]",20,29.4,1229.4
5,6,EMILIO CAMARILLO,M1517,Male,20:33.9,"[20, 33.9]",20,33.9,1233.9
6,7,Bejarano Hernandez Andre,M1314,Male,20:34.5,"[20, 34.5]",20,34.5,1234.5
7,8,VERONICA MACIAS,F1517,Female,20:34.9,"[20, 34.9]",20,34.9,1234.9
8,9,Sandoval Aide,F1517,Female,20:35.4,"[20, 35.4]",20,35.4,1235.4
9,10,Alfred Hoejberg,M1517,Male,20:36.3,"[20, 36.3]",20,36.3,1236.3
10,11,Lopez Nahomy,F1517,Female,20:36.7,"[20, 36.7]",20,36.7,1236.7
11,12,LINDA PELAYO,F1517,Female,20:51.6,"[20, 51.6]",20,51.6,1251.6
12,13,Jose Daniel Castillo,M1112,Male,21:10.0,"[21, 10.0]",21,10.0,1270.0
13,14,Daphne Skelos,F2529,Female,21:31.7,"[21, 31.7]",21,31.7,1291.7
14,15,XIMENA VELEZ,F1314,Female,21:32.6,"[21, 32.6]",21,32.6,1292.6
15,16,Ojeda Del Cid Luis Fernando,M1517,Male,21:34.7,"[21, 34.7]",21,34.7,1294.7
16,17,Federico L�pez,MUnknown,Male,21:35.1,"[21, 35.1]",21,35.1,1295.1
17,18,Zack Hamner,M1824,Male,21:45.4,"[21, 45.4]",21,45.4,1305.4
18,19,Anhton Tran,M2529,Male,22:15.8,"[22, 15.8]",22,15.8,1335.8
19,20,Chad Hagedorn,M4549,Male,22:21.3,"[22, 21.3]",22,21.3,1341.3
20,21,David Brancamp,M5559,Male,22:36.0,"[22, 36.0]",22,36.0,1356.0
21,22,Bryce Heber,M1517,Male,22:36.8,"[22, 36.8]",22,36.8,1356.8
22,23,Philip Rosenbaum,M1824,Male,22:54.2,"[22, 54.2]",22,54.2,1374.2
23,24,Estrada Victor,M1112,Male,23:04.4,"[23, 04.4]",23,04.4,1384.4
24,25,Acosta Fernanda,F1314,Female,23:05.7,"[23, 05.7]",23,05.7,1385.7
25,26,Karen Jaqueline Moronez Peraza,F1314,Female,23:06.2,"[23, 06.2]",23,06.2,1386.2
26,27,Steven Johnston,M5054,Male,23:16.3,"[23, 16.3]",23,16.3,1396.3
27,28,Isabella Pulido,F1517,Female,23:18.2,"[23, 18.2]",23,18.2,1398.2
28,29,Carlos Perez,M1314,Male,23:26.2,"[23, 26.2]",23,26.2,1406.2
29,30,Alexandra Morgan,F1314,Female,23:38.3,"[23, 38.3]",23,38.3,1418.3
...,...,...,...,...,...,...,...,...,...
245,246,Edwin Fernando,M6064,Male,46:20.3,"[46, 20.3]",46,20.3,2780.3
246,247,Althea John,F5559,Female,46:24.7,"[46, 24.7]",46,24.7,2784.7
247,248,Nicole Hicks,F4549,Female,46:46.2,"[46, 46.2]",46,46.2,2806.2
248,249,Edsel Rivera,M4549,Male,47:07.5,"[47, 07.5]",47,07.5,2827.5
249,250,Flavio Battan,M4044,Male,47:34.8,"[47, 34.8]",47,34.8,2854.8
250,251,Octavio Armas,M5559,Male,48:00.2,"[48, 00.2]",48,00.2,2880.2
251,252,Elton Sousa,M3034,Male,48:07.3,"[48, 07.3]",48,07.3,2887.3
252,253,Deborah Elser,F5054,Female,51:21.7,"[51, 21.7]",51,21.7,3081.7
253,254,Kyle Elser,M5054,Male,51:21.9,"[51, 21.9]",51,21.9,3081.9
254,255,Gail Ashdown,F5559,Female,51:53.8,"[51, 53.8]",51,53.8,3113.8
255,256,Sheila Dentino,F4044,Female,51:54.0,"[51, 54.0]",51,54.0,3114.0
256,257,Gary Schwankl,M7074,Male,55:15.0,"[55, 15.0]",55,15.0,3315.0
257,-,Lynn Boswell,F5559,Female,DNS,[DNS],DNS,DNS,NaN
258,-,Ann Chaffey,F5559,Female,DNS,[DNS],DNS,DNS,NaN
259,-,Frederick Gaston,M4044,Male,DNS,[DNS],DNS,DNS,NaN
260,-,Joseph Griffith,M3539,Male,DNS,[DNS],DNS,DNS,NaN
261,-,Geoff Hawkes,M4044,Male,DNS,[DNS],DNS,DNS,NaN
262,-,Andreas Kirn,M5054,Male,DNS,[DNS],DNS,DNS,NaN
263,-,Carmel Maher,F2529,Female,DNS,[DNS],DNS,DNS,NaN
264,-,Maggie Matthews,F5054,Female,DNS,[DNS],DNS,DNS,NaN
265,-,Joseph McCarthy,M3539,Male,DNS,[DNS],DNS,DNS,NaN
266,-,Richard Obregon,M5559,Male,DNS,[DNS],DNS,DNS,NaN
267,-,Caroline Rassenfoss,F5559,Female,DNS,[DNS],DNS,DNS,NaN
268,-,Joel Reger,M5054,Male,DNS,[DNS],DNS,DNS,NaN
269,-,Steve Renly,M5559,Male,DNS,[DNS],DNS,DNS,NaN
270,-,Jennifer Rochlin,F4549,Female,DNS,[DNS],DNS,DNS,NaN
271,-,Michelle St Pierre,F5559,Female,DNS,[DNS],DNS,DNS,NaN
272,-,Michael Sullivan,M5054,Male,DNS,[DNS],DNS,DNS,NaN
273,-,MICHAEL SULLIVAN,M2529,Male,DNS,[DNS],DNS,DNS,NaN
274,-,Lori Thompson,F4044,Female,DNS,[DNS],DNS,DNS,NaN

In [ ]:
participant_locations = df_load['Team name'].iloc[0:275]

In [ ]:
#Group people by coming from California, Baja California (MX), and other US states
#for i in range(0,276):
#    if 'Baja California' in participant_locations[i]: